* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003b5b; /* Move background color to body */
  }
  
  .container {
    width: 100%;
    max-width: 500px; /* Set max-width for larger screens */
    padding: 30px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background-color: #003b5b;
  }
  
  h4 {
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #submit {
    border: none;
    background-color: orangered;
    color: white;
    width: 100%; /* Make button full-width */
    margin-top: 10px;
    border-radius: 5px;
  }
  
  #submit:hover {
    background-color: #333333;
  }
  
  /* Media Queries for Tablets and Phones */
  @media screen and (max-width: 768px) {
    body {
      padding: 20px; /* Add some padding for smaller screens */
    }
  
    .container {
      padding: 20px; /* Adjust padding for smaller screens */
    }
  }
  